# Pandas

In [ ]:
!pip install pandas 

# import sys
# sys.executable
# ! path/to/python -m pip install pandas

In [ ]:
%%capture
!pip install jupyter_contrib_nbextensions;

In [ ]:
%%capture
!jupyter contrib nbextension install;

In [ ]:
%%capture
!pip install jupyterthemes

In [3]:
!jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [ ]:
!jt -t monokai

In [ ]:
%%capture
!jupyter nbextension enable codefolding/main;

In [ ]:
import numpy as np
import pandas as pd

# What is Pandas?

Pandas can be thought as an enhanced version of numpy arrays. In this case, the rows and columns can be identified with labels instead of just simple integer indices.


* [Documentation](https://pandas.pydata.org/docs/reference/index.html#api)
* [GitHub](https://github.com/pandas-dev/pandas/blob/master/pandas/core/base.py)

There are **three** main pandas elements we **need** to understand.
1. Pandas Series
2. Pandas DataFrame
3. Index
----

# 1. The Pandas Series

**The primary building block of Pandas**. A pandas series is a one-dimensional (**1-D**) indexed array.

In [5]:
import pandas as pd
#from pandas import Series

In [6]:
type(pd.Series)

type

In [7]:
pd.Series

pandas.core.series.Series

In [8]:
pd.Series(dtype='int')

Series([], dtype: int32)

## 1.1 Creating a Pandas Series

In [9]:
# From a list
values = [1, 2, 3, 4]
series1 = pd.Series(values)
print(series1)

0    1
1    2
2    3
3    4
dtype: int64

In [70]:
nome_linhas = ['I', 'II', 'III', 'IV', 'V']

series2 = pd.Series(data = values, 
                    index = nome_linhas)

print(series2)

ValueError: Length of passed values is 4, index implies 5.

In [13]:
nome_linhas = [['I', 'II'], 'II', 'II', 'IV']
series2 = pd.Series(data = values, 
                    index = nome_linhas)
print(series2)

[I, II]    1
II         2
II         3
IV         4
dtype: int64

In [12]:
pd.Series([1,2,3,'abc'])

0      1
1      2
2      3
3    abc
dtype: object

In [14]:
# From a dict

dict_notas = dict({'Titanic' : 7.8,
                  'Dune' : 8.2,
                  'Dune (David Lynch)' : 6.4,
                  'House of Gucci' : 7.0,
                  'Joker' : 8.4,
                  'Alien' : 8.4})
notas_imdb = pd.Series(dict_notas, name = 'nota_imdb')
print(notas_imdb)

Titanic               7.8
Dune                  8.2
Dune (David Lynch)    6.4
House of Gucci        7.0
Joker                 8.4
Alien                 8.4
Name: nota_imdb, dtype: float64

In [15]:
# From a dict

dict_notas = dict({'Titanic' : 7.8,
                  'Dune' : 8.2,
                  'Dune (David Lynch)' : 6.4,
                  'House of Gucci' : 7.0,
                  'Joker' : 8.4,
                  'Alien' : 8.4})
nomes_errados = ['Dune', 'Dune DL', 'Titanic', 'Coringa', 'Gucci']

pd.Series(dict_notas, index = nomes_errados, name = 'nota_imdb')

Dune       8.2
Dune DL    NaN
Titanic    7.8
Coringa    NaN
Gucci      NaN
Name: nota_imdb, dtype: float64

In [16]:
dict_cast = dict({'Titanic' : ['Kate Winslet', 'Leonardo DiCaprio'],
                  'Dune' : ['Timothée Chalamet', 'Zendaya'],
                  'Dune (David Lynch)' : ['Sting'],
                  'House of Gucci' : ['Lady Gaga', 'Adam Driver', 'Al Pacino'],
                  'Joker' : ['Joaquin Phoenix'],
                  'Alien' : ['Sigourney Weaver', 'Ian Holm'],
                  'Aliens' : ['Sigourney Weaver', 'Paul Reiser']})

elenco = pd.Series(dict_cast, name = 'elenco')
print(elenco)

Titanic                 [Kate Winslet, Leonardo DiCaprio]
Dune                         [Timothée Chalamet, Zendaya]
Dune (David Lynch)                                [Sting]
House of Gucci        [Lady Gaga, Adam Driver, Al Pacino]
Joker                                   [Joaquin Phoenix]
Alien                        [Sigourney Weaver, Ian Holm]
Aliens                    [Sigourney Weaver, Paul Reiser]
Name: elenco, dtype: object

In [18]:
dict_diretor = dict({'Titanic' : 'James Cameron',
                     'Dune' : 'Denis Villeneuve',
                     'Dune (David Lynch)' : 'David Lynch',
                     'House of Gucci' : 'Ridley Scott',
                     'Joker' : 'Todd Phillips',
                     'Alien' : 'Ridley Scott',
                     'Aliens' : 'James Cameron'})
#diretor = pd.Series(dict_diretor, name = 'diretor')
diretor = pd.Series(dict_diretor, name = 'diretor', dtype = pd.StringDtype())
print(diretor)

Titanic                  James Cameron
Dune                  Denis Villeneuve
Dune (David Lynch)         David Lynch
House of Gucci            Ridley Scott
Joker                    Todd Phillips
Alien                     Ridley Scott
Aliens                   James Cameron
Name: diretor, dtype: string

## 1.2 Some methods and attributes
* Check Type
* Check Size
* `.describe()`
* `.values`
* `.index`

In [19]:
print(type(notas_imdb))

<class 'pandas.core.series.Series'>

So, the `type` of `data` is a `pandas...Series` and the types of the data inside the `pandas.Series` is `float64`

In [20]:
print(notas_imdb)

Titanic               7.8
Dune                  8.2
Dune (David Lynch)    6.4
House of Gucci        7.0
Joker                 8.4
Alien                 8.4
Name: nota_imdb, dtype: float64

When you see `dtype: object`, it usually means you have a `str` inside your `Series` - you should always work to specify string `Series` as a `pd.StringDtype()`!

In [21]:
print(len(notas_imdb))

6

In [27]:
print(notas_imdb.describe(percentiles = [0.1, 0.9]))

count    6.000000
mean     7.700000
std      0.827043
min      6.400000
10%      6.700000
50%      8.000000
90%      8.400000
max      8.400000
Name: nota_imdb, dtype: float64

In [28]:
print(elenco.describe())

count                                7
unique                               7
top       [Timothée Chalamet, Zendaya]
freq                                 1
Name: elenco, dtype: object

In [29]:
print(diretor.describe())

count                 7
unique                5
top       James Cameron
freq                  2
Name: diretor, dtype: object

In [30]:
print(notas_imdb.values)

[7.8 8.2 6.4 7.  8.4 8.4]

In [32]:
type(diretor.values)

pandas.core.arrays.string_.StringArray

In [33]:
print(notas_imdb.index)

Index(['Titanic', 'Dune', 'Dune (David Lynch)', 'House of Gucci', 'Joker',
       'Alien'],
      dtype='object')

In [34]:
type(notas_imdb.index)

pandas.core.indexes.base.Index

## 1.3 Accessing elements 

Can be done like a numpy array.

In [36]:
notas_imdb[0]

7.8

In [37]:
notas_imdb[0:3]

Titanic               7.8
Dune                  8.2
Dune (David Lynch)    6.4
Name: nota_imdb, dtype: float64

In [38]:
notas_imdb[1:]

Dune                  8.2
Dune (David Lynch)    6.4
House of Gucci        7.0
Joker                 8.4
Alien                 8.4
Name: nota_imdb, dtype: float64

In [39]:
notas_imdb['Dune']

8.2

In [40]:
notas_imdb.iloc[1] == notas_imdb['Dune'] == notas_imdb[1]

True

# 2. The Pandas DataFrame

Pandas DataFrame can be thought as
* A group of Pandas Series
* A generalization of **2-D** numpy arrays (However, again, they bring flexibility on both the indices and column names)
* A tabular, spreadsheet-like data structure

In [41]:
pd.DataFrame

pandas.core.frame.DataFrame

In [43]:
type(pd.DataFrame)

type

In [42]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

## 2.1 Creating a Pandas DataFrame
* From a .csv, excel, query, json, from an API...
Today we'll check how to create from a 1-D array, 2-D array and from a dictionary

In [47]:
notas_imdb

Titanic               7.8
Dune                  8.2
Dune (David Lynch)    6.4
House of Gucci        7.0
Joker                 8.4
Alien                 8.4
Name: nota_imdb, dtype: float64

In [48]:
elenco

Titanic                 [Kate Winslet, Leonardo DiCaprio]
Dune                         [Timothée Chalamet, Zendaya]
Dune (David Lynch)                                [Sting]
House of Gucci        [Lady Gaga, Adam Driver, Al Pacino]
Joker                                   [Joaquin Phoenix]
Alien                        [Sigourney Weaver, Ian Holm]
Aliens                    [Sigourney Weaver, Paul Reiser]
Name: elenco, dtype: object

In [49]:
diretor

Titanic                  James Cameron
Dune                  Denis Villeneuve
Dune (David Lynch)         David Lynch
House of Gucci            Ridley Scott
Joker                    Todd Phillips
Alien                     Ridley Scott
Aliens                   James Cameron
Name: diretor, dtype: string

In [55]:
dict_series = {'notas' : notas_imdb,
               'elenco' : elenco,
               'diretor' : diretor}
print(dict_series.keys())
print(type(dict_series['notas']))

dict_keys(['notas', 'elenco', 'diretor'])
<class 'pandas.core.series.Series'>

In [46]:
pd.DataFrame(dict_series)

,notas,elenco,diretor
Alien,8.4,"[Sigourney Weaver, Ian Holm]",Ridley Scott
Aliens,NaN,"[Sigourney Weaver, Paul Reiser]",James Cameron
Dune,8.2,"[Timothée Chalamet, Zendaya]",Denis Villeneuve
Dune (David Lynch),6.4,[Sting],David Lynch
House of Gucci,7.0,"[Lady Gaga, Adam Driver, Al Pacino]",Ridley Scott
Joker,8.4,[Joaquin Phoenix],Todd Phillips
Titanic,7.8,"[Kate Winslet, Leonardo DiCaprio]",James Cameron

In [57]:
print(dict_notas)

{'Titanic': 7.8, 'Dune': 8.2, 'Dune (David Lynch)': 6.4, 'House of Gucci': 7.0, 'Joker': 8.4, 'Alien': 8.4}

In [59]:
pd.Series(dict_notas)

Titanic               7.8
Dune                  8.2
Dune (David Lynch)    6.4
House of Gucci        7.0
Joker                 8.4
Alien                 8.4
dtype: float64

In [60]:
dict_dicts = {'notas' : dict_notas,
              'elenco' : dict_cast,
              'diretor' : dict_diretor}
print(dict_dicts)

{'notas': {'Titanic': 7.8, 'Dune': 8.2, 'Dune (David Lynch)': 6.4, 'House of Gucci': 7.0, 'Joker': 8.4, 'Alien': 8.4}, 'elenco': {'Titanic': ['Kate Winslet', 'Leonardo DiCaprio'], 'Dune': ['Timothée Chalamet', 'Zendaya'], 'Dune (David Lynch)': ['Sting'], 'House of Gucci': ['Lady Gaga', 'Adam Driver', 'Al Pacino'], 'Joker': ['Joaquin Phoenix'], 'Alien': ['Sigourney Weaver', 'Ian Holm'], 'Aliens': ['Sigourney Weaver', 'Paul Reiser']}, 'diretor': {'Titanic': 'James Cameron', 'Dune': 'Denis Villeneuve', 'Dune (David Lynch)': 'David Lynch', 'House of Gucci': 'Ridley Scott', 'Joker': 'Todd Phillips', 'Alien': 'Ridley Scott', 'Aliens': 'James Cameron'}}

In [61]:
pd.DataFrame(dict_dicts)

,notas,elenco,diretor
Titanic,7.8,"[Kate Winslet, Leonardo DiCaprio]",James Cameron
Dune,8.2,"[Timothée Chalamet, Zendaya]",Denis Villeneuve
Dune (David Lynch),6.4,[Sting],David Lynch
House of Gucci,7.0,"[Lady Gaga, Adam Driver, Al Pacino]",Ridley Scott
Joker,8.4,[Joaquin Phoenix],Todd Phillips
Alien,8.4,"[Sigourney Weaver, Ian Holm]",Ridley Scott
Aliens,NaN,"[Sigourney Weaver, Paul Reiser]",James Cameron

In [65]:
list(dict_diretor.values())

['James Cameron',
 'Denis Villeneuve',
 'David Lynch',
 'Ridley Scott',
 'Todd Phillips',
 'Ridley Scott',
 'James Cameron']

In [66]:
lista_notas = list(dict_notas.values())
lista_elenco = list(dict_cast.values())
lista_diretor = list(dict_diretor.values())
print(lista_notas)

[7.8, 8.2, 6.4, 7.0, 8.4, 8.4]

In [67]:
print(lista_elenco)

[['Kate Winslet', 'Leonardo DiCaprio'], ['Timothée Chalamet', 'Zendaya'], ['Sting'], ['Lady Gaga', 'Adam Driver', 'Al Pacino'], ['Joaquin Phoenix'], ['Sigourney Weaver', 'Ian Holm'], ['Sigourney Weaver', 'Paul Reiser']]

In [68]:
print(lista_diretor)

['James Cameron', 'Denis Villeneuve', 'David Lynch', 'Ridley Scott', 'Todd Phillips', 'Ridley Scott', 'James Cameron']

In [72]:
dict_listas = {'notas' : lista_notas,
               'elenco' : lista_elenco[1:],
               'diretor' : lista_diretor[1:]}
pd.DataFrame(dict_listas)

   notas                               elenco           diretor
0    7.8         [Timothée Chalamet, Zendaya]  Denis Villeneuve
1    8.2                              [Sting]       David Lynch
2    6.4  [Lady Gaga, Adam Driver, Al Pacino]      Ridley Scott
3    7.0                    [Joaquin Phoenix]     Todd Phillips
4    8.4         [Sigourney Weaver, Ian Holm]      Ridley Scott
5    8.4      [Sigourney Weaver, Paul Reiser]     James Cameron

In [73]:
dict_listas = {'elenco' : lista_elenco,
               'diretor' : lista_diretor}
pd.DataFrame(dict_listas)

                                elenco           diretor
0    [Kate Winslet, Leonardo DiCaprio]     James Cameron
1         [Timothée Chalamet, Zendaya]  Denis Villeneuve
2                              [Sting]       David Lynch
3  [Lady Gaga, Adam Driver, Al Pacino]      Ridley Scott
4                    [Joaquin Phoenix]     Todd Phillips
5         [Sigourney Weaver, Ian Holm]      Ridley Scott
6      [Sigourney Weaver, Paul Reiser]     James Cameron

## 2.2 Some methods and attributes
* `describe()`
* `info()`
* `transpose()`

In [74]:
tb_filmes = pd.DataFrame(dict_series)
tb_filmes

,notas,elenco,diretor
Alien,8.4,"[Sigourney Weaver, Ian Holm]",Ridley Scott
Aliens,NaN,"[Sigourney Weaver, Paul Reiser]",James Cameron
Dune,8.2,"[Timothée Chalamet, Zendaya]",Denis Villeneuve
Dune (David Lynch),6.4,[Sting],David Lynch
House of Gucci,7.0,"[Lady Gaga, Adam Driver, Al Pacino]",Ridley Scott
Joker,8.4,[Joaquin Phoenix],Todd Phillips
Titanic,7.8,"[Kate Winslet, Leonardo DiCaprio]",James Cameron

In [75]:
tb_filmes.describe()

          notas
count  6.000000
mean   7.700000
std    0.827043
min    6.400000
25%    7.200000
50%    8.000000
75%    8.350000
max    8.400000

In [76]:
tb_filmes.describe(percentiles = [0.01, 0.99])

          notas
count  6.000000
mean   7.700000
std    0.827043
min    6.400000
1%     6.430000
50%    8.000000
99%    8.400000
max    8.400000

In [77]:
tb_filmes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Alien to Titanic
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   notas    6 non-null      float64
 1   elenco   7 non-null      object
 2   diretor  7 non-null      string
dtypes: float64(1), object(1), string(1)
memory usage: 224.0+ bytes

In [78]:
tb_filmes.transpose()

,Alien,Aliens,Dune,Dune (David Lynch),House of Gucci,Joker,Titanic
notas,8.4,NaN,8.2,6.4,7.0,8.4,7.8
elenco,"[Sigourney Weaver, Ian Holm]","[Sigourney Weaver, Paul Reiser]","[Timothée Chalamet, Zendaya]",[Sting],"[Lady Gaga, Adam Driver, Al Pacino]",[Joaquin Phoenix],"[Kate Winslet, Leonardo DiCaprio]"
diretor,Ridley Scott,James Cameron,Denis Villeneuve,David Lynch,Ridley Scott,Todd Phillips,James Cameron

## 2.3 Accessing elements 

These are the correct way to access data in a dataframe. You can specify both row and column. You can also specify only row.

`dataframe.loc[row_name, col_name]`

In [79]:
tb_filmes.loc['Alien', 'notas']

8.4

In [80]:
type(tb_filmes.loc['Alien', 'notas'])

numpy.float64

In [81]:
tb_filmes.loc['Alien', :]

notas                               8.4
elenco     [Sigourney Weaver, Ian Holm]
diretor                    Ridley Scott
Name: Alien, dtype: object

In [82]:
type(tb_filmes.loc['Alien', :])

pandas.core.series.Series

In [83]:
tb_filmes.loc[:, 'notas']

Alien                 8.4
Aliens                NaN
Dune                  8.2
Dune (David Lynch)    6.4
House of Gucci        7.0
Joker                 8.4
Titanic               7.8
Name: notas, dtype: float64

In [84]:
tb_filmes.loc[['Alien', 'Aliens'], :]

        notas                           elenco        diretor
Alien     8.4     [Sigourney Weaver, Ian Holm]   Ridley Scott
Aliens    NaN  [Sigourney Weaver, Paul Reiser]  James Cameron

In [85]:
tb_filmes.loc[:, ['notas', 'elenco']]

                    notas                               elenco
Alien                 8.4         [Sigourney Weaver, Ian Holm]
Aliens                NaN      [Sigourney Weaver, Paul Reiser]
Dune                  8.2         [Timothée Chalamet, Zendaya]
Dune (David Lynch)    6.4                              [Sting]
House of Gucci        7.0  [Lady Gaga, Adam Driver, Al Pacino]
Joker                 8.4                    [Joaquin Phoenix]
Titanic               7.8    [Kate Winslet, Leonardo DiCaprio]

In [86]:
tb_filmes.loc['Alien':'Dune', :]

        notas                           elenco           diretor
Alien     8.4     [Sigourney Weaver, Ian Holm]      Ridley Scott
Aliens    NaN  [Sigourney Weaver, Paul Reiser]     James Cameron
Dune      8.2     [Timothée Chalamet, Zendaya]  Denis Villeneuve

In [88]:
tb_filmes.loc['Alien':'Dune', 'notas':'elenco']

        notas                           elenco
Alien     8.4     [Sigourney Weaver, Ian Holm]
Aliens    NaN  [Sigourney Weaver, Paul Reiser]
Dune      8.2     [Timothée Chalamet, Zendaya]

In [89]:
tb_filmes.loc[['Alien', 'Titanic'], 1]

KeyError: 1

`dataframe.iloc[row_number, col_number]`

In [90]:
tb_filmes.iloc[0, 0]

8.4

In [91]:
tb_filmes.iloc[0, :]

notas                               8.4
elenco     [Sigourney Weaver, Ian Holm]
diretor                    Ridley Scott
Name: Alien, dtype: object

In [92]:
tb_filmes.iloc[:, 0]

Alien                 8.4
Aliens                NaN
Dune                  8.2
Dune (David Lynch)    6.4
House of Gucci        7.0
Joker                 8.4
Titanic               7.8
Name: notas, dtype: float64

In [93]:
tb_filmes.iloc[:, 0]

Alien                 8.4
Aliens                NaN
Dune                  8.2
Dune (David Lynch)    6.4
House of Gucci        7.0
Joker                 8.4
Titanic               7.8
Name: notas, dtype: float64

In [94]:
tb_filmes.iloc[:, [0, 1]]

                    notas                               elenco
Alien                 8.4         [Sigourney Weaver, Ian Holm]
Aliens                NaN      [Sigourney Weaver, Paul Reiser]
Dune                  8.2         [Timothée Chalamet, Zendaya]
Dune (David Lynch)    6.4                              [Sting]
House of Gucci        7.0  [Lady Gaga, Adam Driver, Al Pacino]
Joker                 8.4                    [Joaquin Phoenix]
Titanic               7.8    [Kate Winslet, Leonardo DiCaprio]

In [95]:
tb_filmes.iloc[0:3, :]

        notas                           elenco           diretor
Alien     8.4     [Sigourney Weaver, Ian Holm]      Ridley Scott
Aliens    NaN  [Sigourney Weaver, Paul Reiser]     James Cameron
Dune      8.2     [Timothée Chalamet, Zendaya]  Denis Villeneuve

In [96]:
tb_filmes.iloc['Alien', 1]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

What is the difference of selecting a column via: `dataframe['column']` vs `dataframe.loc[:, 'column']`?

In [97]:
type(tb_filmes['notas'])

pandas.core.series.Series

In [98]:
type(tb_filmes.loc[:,'notas'])

pandas.core.series.Series

Selecting by a sample

In [103]:
tb_filmes.sample(n=2)

         notas                             elenco        diretor
Titanic    7.8  [Kate Winslet, Leonardo DiCaprio]  James Cameron
Aliens     NaN    [Sigourney Weaver, Paul Reiser]  James Cameron

## 2.4 Filtering

In [105]:
print(tb_filmes['notas'] > 8)

Alien                  True
Aliens                False
Dune                   True
Dune (David Lynch)    False
House of Gucci        False
Joker                  True
Titanic               False
Name: notas, dtype: bool

In [106]:
tb_filmes['diretor'] == 'Ridley Scott'

Alien                  True
Aliens                False
Dune                  False
Dune (David Lynch)    False
House of Gucci         True
Joker                 False
Titanic               False
Name: diretor, dtype: boolean

In [107]:
filmes_bons = tb_filmes['notas'] > 8

In [108]:
filmes_bons

Alien                  True
Aliens                False
Dune                   True
Dune (David Lynch)    False
House of Gucci        False
Joker                  True
Titanic               False
Name: notas, dtype: bool

In [109]:
tb_filmes[filmes_bons]

       notas                        elenco           diretor
Alien    8.4  [Sigourney Weaver, Ian Holm]      Ridley Scott
Dune     8.2  [Timothée Chalamet, Zendaya]  Denis Villeneuve
Joker    8.4             [Joaquin Phoenix]     Todd Phillips

In [110]:
tb_filmes[tb_filmes['notas'] > 8]

       notas                        elenco           diretor
Alien    8.4  [Sigourney Weaver, Ian Holm]      Ridley Scott
Dune     8.2  [Timothée Chalamet, Zendaya]  Denis Villeneuve
Joker    8.4             [Joaquin Phoenix]     Todd Phillips

In [111]:
tb_filmes[(tb_filmes['notas'] > 8) & (tb_filmes['diretor'] == 'Ridley Scott')]

       notas                        elenco       diretor
Alien    8.4  [Sigourney Weaver, Ian Holm]  Ridley Scott

In [114]:
tb_filmes.loc[(tb_filmes['notas'] < 8) & (tb_filmes['diretor'] == 'Ridley Scott'), :]

                notas                               elenco       diretor
House of Gucci    7.0  [Lady Gaga, Adam Driver, Al Pacino]  Ridley Scott

In [118]:
tb_filmes.iloc[:,1]

Alien                        [Sigourney Weaver, Ian Holm]
Aliens                    [Sigourney Weaver, Paul Reiser]
Dune                         [Timothée Chalamet, Zendaya]
Dune (David Lynch)                                [Sting]
House of Gucci        [Lady Gaga, Adam Driver, Al Pacino]
Joker                                   [Joaquin Phoenix]
Titanic                 [Kate Winslet, Leonardo DiCaprio]
Name: elenco, dtype: object

In [119]:
tb_filmes.index

Index(['Alien', 'Aliens', 'Dune', 'Dune (David Lynch)', 'House of Gucci',
       'Joker', 'Titanic'],
      dtype='object')

In [120]:
tb_filmes.index.isin(['Alien', 'Aliens'])

array([ True,  True, False, False, False, False, False])

# Voltamos 21h37

In [122]:
colnames = [1,2,3,4,5]
{x : colnames[x] for x in range(5)}

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}